

  .app-header {
    padding: 20px 0;
    background: #0030ff;
    text-align: center;
}
.app-header .text {
    width: 14%;
    background: #0030ff;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 6px;
    line-height: 24px;
}
.main-container {
    background: #eaeaea;
    width: 100%;
    display: inline-block;
}
.first-article {
    margin-top: 114px;
}
.main-container article {
    margin-top: 60px;
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.main-container article.first-article {
    margin-top: 114px;
}
.question-container {
    width: 43.55%;
    margin: 0 28.22%;
    float: left;
    position: absolute;
    top: -38px;
}
.question-container .question-number {
    background: #0030FF;
    float: left;
    font-family: Gotham-Bold;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 22px;
}
.question-container .question-text {
    float: left;
    width: 84%;
    background: #fff;
    padding: 25px;
    font-family: Gotham-Medium;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    line-height: 20px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.20);
}
.options-container {
    background: #fff;
    width: 43.55%;
    float: left;
    margin: 0 31%;
}
.options-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 60px 0 45px 60px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.20);
    
}
.options-container ul li{
    font-family: Gotham-Medium;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    margin-bottom: 15px;
}

.options-container ul li span{
    font-family: Gotham-Medium;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    margin-left: 10px;
}
